* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 2rem;
}
main {
     /*border: 5px solid #febff1b0;*/
     width: 400px;
     height: 400px;
     margin:calc( 5* var(--bs-gutter-y)) auto;
     background-color:white;
     box-shadow: 0px 0px 10px 6px #000;
     overflow: hidden;
     border-radius: 20px;
     position: relative;
 }
 .content {
     display: flex;
     justify-content: space-between;
 }
 .img1 img {
     width: 170px;
 }
 .img1 {
     position: relative;
     transform: translateY(-6%);
 }
 li {
     position: absolute;
     z-index: 999;
     display: flex;
     top: 88%;
     transform: translatex(-50%);
     left: 50%;
 }
 .btn {
     list-style: none;
     border: 2px solid #000;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-family: 'Itim', serif;
     padding: 5px 13px;
     font-size: 1rem;
     cursor: pointer;
     background-color: #fff;
     position: relative;
     transition: all 0.25s ease;
     color: #000;
     overflow: hidden;
     border-radius: 30px;
 }
 .btn:hover {
     transform: translate(0,-5px);
     border-style: none;
 }
 .btn:hover ::after {
     transform: rotate(150deg);
 }
 .btn::after {
     content: "";
     width: 360px;
     height: 360px;
     position: absolute;
     top: -50px;
     left: -100px;
     background-color:#febff1;
     z-index: -1;
     transition: all 0.25s ease;
 }
 .t1 {
     position: relative;
     z-index: 999;
     text-shadow: 4px 4px 4px #febff1;
     padding: 2rem;
     padding-bottom: 0rem;
     font-family: 'Itim', serif;
     font-size: 13.4px;
 }
 .t2 {
     text-shadow: 4px 4px 4px #febff1;
     font-size: 13.4px;
     padding: 1rem 0rem 1.5rem 2rem;
     font-family: 'Itim', serif;
     width: 228px;
 }
/***********(min-width: 300px) and (max-width: 323px)***********/
@media (min-width: 300px) and (max-width: 324px){
     main {
          width: auto;
          height: 312px;
          margin:calc( 5* var(--bs-gutter-y)) auto;
          margin:calc(5 * var(--bs-gutter-y)) calc(var(--bs-gutter-x) * 0.5);
      }
      .img1 img {
          width: 110px;
      }
      .img1 {
          position: relative;
          transform: translateY(2%);
          padding-right: 0.5rem;
      }
      .btn { 
          padding: 2px 8px;
      }
      .t1 {
          font-size: 8.7px;
          padding: 1.8rem;
          padding-top: 2.2rem;
          padding-bottom: 0rem;
          width: 280px;
      }
      .t2 {
          font-size: 8.7px;
          padding: 2rem 0rem 0rem 1.8rem;
          width: 160px;
          height: 100px;
      }
}
/***********(min-width: 324px) and (max-width: 347px)***********/
@media (min-width: 324px) and (max-width: 348px){
     main {
          width: auto;
          height: 324px;
          margin:calc( 5* var(--bs-gutter-y)) auto;
          margin:calc(5 * var(--bs-gutter-y)) calc(var(--bs-gutter-x) * 0.5);
      }
      .img1 img {
          width: 112px;
      }
      .img1 {
          position: relative;
          transform: translateY(10%);
          padding-right: 0.8rem;
      }
      .btn { 
          padding: 2px 8px;
      }
      .t1 {
          font-size: 9.8px;
          padding: 1.8rem;
          padding-top: 2.2rem;
          padding-bottom: 0rem;
          width: 305px;
      }
      .t2 {
          font-size: 9.8px;
          padding: 1.2rem 0rem 0rem 1.8rem;
          width: 180px;
          height: 100px;
      }
}
/***********(min-width: 348px) and (max-width: 371px)***********/
@media (min-width: 348px) and (max-width: 372px){
     main {
          width: auto;
          height: 336px;
          margin:calc( 5* var(--bs-gutter-y)) auto;
          margin:calc(5 * var(--bs-gutter-y)) calc(var(--bs-gutter-x) * 0.5);
      }
      .img1 img {
          width: 120px;
      }
      .img1 {
          position: relative;
          transform: translateY(6%);
          padding-right: 1rem;
      }
      .btn { 
          padding: 2px 8px;
      }
      .t1 {
          font-size: 10.5px;
          padding-left: 2rem;
          padding-right: 1.6rem;
          padding-top: 2.2rem;
          padding-bottom: 0rem;
          width: 325px;
      }
      .t2 {
          font-size: 10.5px;
          padding: 1.5rem 0rem 0rem 2rem;
          width: 190px;
          height: 100px;
      }
}
/***********(min-width: 372px) and (max-width: 395px)***********/
@media (min-width: 372px) and (max-width: 396px){
     main {
          width: auto;
          height: 348px;
          margin:calc( 5* var(--bs-gutter-y)) auto;
          margin:calc(5 * var(--bs-gutter-y)) calc(var(--bs-gutter-x) * 0.5);
      }
      .img1 img {
          width: 125px;
      }
      .img1 {
          position: relative;
          transform: translateY(5%);
          padding-right: 1rem;
      }
      .btn { 
          padding: 2px 8px;
      }
      .t1 {
          font-size: 11.5px;
          padding-left: 1.8rem;
          padding-right: 1.6rem;
          padding-top: 1.5rem;
          padding-bottom: 0rem;
          width: 345px;
      }
      .t2 {
          font-size: 11.5px;
          padding: 1.2rem 0rem 0rem 1.8rem;
          width: 200px;
          height: 100px;
      }
}