* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 5rem;
}
main {
    margin:calc(1.5 * var(--bs-gutter-y)) auto;
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 10px 6px #000;
    overflow: hidden;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
}
.img1 img { 
    width: 80%;
    padding : 1rem 0rem;
    padding-top: 0.6rem;
}
li {
    list-style: none;
}
.btn {
    list-style: none;
    border: 2px solid #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Itim', serif;
    padding: 5px 12px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    transition: all 0.25s ease;
    color: #000;
    overflow: hidden;
    border-radius: 30px;
}
.btn:hover {
    transform: translate(0,-5px);
    border-style: none;
}
.btn:hover ::after {
    transform: rotate(150deg);
}
.btn::after {
    content: "";
    width: 360px;
    height: 360px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color:#febff1;
    z-index: -1;
    transition: all 0.25s ease;
}
.text {
    font-family:'Love Ya Like A Sister', serif;
    /*text-shadow: 4px 4px 4px #aaa;*/
    display: flex;
    justify-content: space-around;
    padding-top: 1.6rem;
    color: #febff1;
    text-shadow: 2px 2px 1px #aaa;
    margin: 0rem 1.8rem;
    font-size: 2rem;
}
.morning {
    width: fit-content;
    color: #ffe14b;
    text-shadow: 2px 2px 1px #aaa;
}
.tell {
    font-family: 'Itim', serif;
    padding-bottom: 0.7rem;
}
/***********(min-width: 276px) and (max-width: 320px)***********/
@media (min-width: 276px) and (max-width: 320px){
  main {
      width: auto;
      height: 276.2px;
      margin:calc(1 * var(--bs-gutter-y)) calc(var(--bs-gutter-x) * 0.5);
      padding-bottom: calc(var(--bs-gutter-y) * 0.1);
   }
   .text {
      font-size: 1.3rem;
      margin: 0rem 1.4rem;
      padding-top: 1.1rem;
   }
   .img1 img { 
      width: 208px ;
      padding-bottom: 0.51rem;
      padding-top: 0.5rem;
   }
   .btn {
      padding: 2.5px 8px;
   }
   .tell {
    padding-bottom: 0.621rem;
    font-size: 0.85rem;
   }
}
/***********(min-width: 320px) and (max-width: 348px)***********/
@media (min-width: 320px) and (max-width: 348px){
    main {
        width: auto;
        height: 297.6px;
        margin:calc(1 * var(--bs-gutter-y)) calc(var(--bs-gutter-x) * 0.5);
        padding-bottom: calc(var(--bs-gutter-y) * 0.1);
   }
   .text {
        font-size: 1.32rem;
        margin: 0rem 2rem;
        padding-top: 1.85rem;
   }
   .img1 img { 
        padding-bottom: 0.797rem;
        padding-top: 0.6rem;
   }
   .btn {
        padding: 2.5px 8px;
   }
   .tell {
        font-size: 0.9rem;
   }
}
/***********(min-width: 348px) and (max-width: 372px)***********/
@media (min-width: 348px) and (max-width: 372px){
  main {
      width: auto;
      height: 316px;
      margin:calc(1 * var(--bs-gutter-y)) calc(var(--bs-gutter-x) * 0.5);
      padding-bottom: calc(var(--bs-gutter-y) * 0.1);
 }
  .text {
      font-size: 1.7rem;
      margin: 0rem 1.5rem;
      padding-top: 1.1rem;
 }
  .img1 img { 
    padding-bottom: 0.2rem;
    padding-top: 0.379rem;
 }
  .btn {
      padding: 2.5px 8px;
 }
  .tell {
      padding-bottom: 0.4rem;
  }
}
/***********(min-width: 372px) and (max-width: 400px)***********/
@media (min-width: 372px) and (max-width: 400px){
    main {
        width: auto;
        height: 326.4px;
        margin:calc(1 * var(--bs-gutter-y)) calc(var(--bs-gutter-x) * 0.5);
        padding-bottom: calc(var(--bs-gutter-y) * 0.1);
   }
    .text {
        font-size: 1.7rem;
        margin: 0rem 1.5rem;
        padding-top: 1.263rem;
   }
    .img1 img { 
      padding-bottom: 0.2rem;
      padding-top: 5.15px;
   }
    .btn {
        padding: 2.5px 8px;
   }
    .tell {
        padding-bottom: 0.4rem;
    }
  }