* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 2rem;
}
main {
    margin:calc(5 * var(--bs-gutter-y)) auto;
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 10px 6px #000;
    overflow: hidden;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
}
.img1 img { 
    width: 80%;
    padding : 1rem 0rem;
    padding-top: 0.6rem;
}
li {
    list-style: none;
    position: absolute;
    z-index: 999;
    display: flex;
    transform: translatex(-50%);
    left: 50%;
    top: 88%;
}
.btn {
    list-style: none;
    border: 2px solid #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Itim', serif;
    padding: 5px 12px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    transition: all 0.25s ease;
    color: #000;
    overflow: hidden;
    border-radius: 30px;
}
.btn:hover {
    transform: translate(0,-5px);
    border-style: none;
}
.btn:hover ::after {
    transform: rotate(150deg);
}
.btn::after {
    content: "";
    width: 360px;
    height: 360px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color:#febff1;
    z-index: -1;
    transition: all 0.25s ease;
}
.text {
    font-family:'Love Ya Like A Sister', serif;
    /*text-shadow: 4px 4px 4px #aaa;*/
    display: flex;
    justify-content: space-around;
    padding-top: 1.6rem;
    color: #febff1;
    text-shadow: 2px 2px 1px #aaa;
    margin: 0rem 1.8rem;
    font-size: 2rem;
}
.morning {
    width: fit-content;
    color: #ffe14b;
    text-shadow: 2px 2px 1px #aaa;
}
.tell {
    font-family: 'Itim', serif;
}
/***********(min-width: 300px) and (max-width: 323px)***********/
@media (min-width: 300px) and (max-width: 324px){
    main {
        width: auto;
        height: 312px;
        margin:calc(5* var(--bs-gutter-y)) calc(var(--bs-gutter-x) * 0.5);
    }
    .img1 img { 
        width: 80%;
        padding : 1rem 0rem;
        padding-top: 0.6rem;
    }
    .btn {
        padding: 2px 7px;
    }
    .text {
        padding-top: 1.3rem;
        font-size: 1.4rem;
    }
}
/***********(min-width: 324px) and (max-width: 347px)***********/
@media (min-width: 324px) and (max-width: 348px){
    main {
        width: auto;
        height: 324px;
        margin:calc(5* var(--bs-gutter-y)) calc(var(--bs-gutter-x) * 0.5);
    }
    .img1 img { 
        width: 80%;
        padding-bottom: 0;
        padding-top: 0.6rem;
    }
    .btn {
        padding: 2px 7px;
    }
    .text {
        padding-top: 1.2rem;
        margin: 0rem 1.5rem;
        font-size: 1.55rem;
    }
    .tell {
        padding-top: 0.8rem;
    }
}
/***********(min-width: 348px) and (max-width: 371px)***********/
@media (min-width: 348px) and (max-width: 372px){
    main {
        width: auto;
        height: 336px;
        margin:calc(5* var(--bs-gutter-y)) calc(var(--bs-gutter-x) * 0.5);
    }
    .img1 img { 
        width: 80%;
        padding-bottom: 0;
        padding-top: 0.3rem;
    }
    .btn {
        padding: 2px 7px;
    }
    .text {
        padding-top: 1.2rem;
        margin: 0rem 1.8rem;
        font-size: 1.65rem;
    }
    .tell {
        padding-top: 0.7rem;
    }
}
/***********(min-width: 372px) and (max-width: 395px)***********/
@media (min-width: 372px) and (max-width: 396px){
    main {
        width: auto;
        height: 348px;
        margin:calc(5* var(--bs-gutter-y)) calc(var(--bs-gutter-x) * 0.5);
    }
    .img1 img { 
        width: 80%;
        padding: 0rem;
    }
    .btn {
        padding: 2px 7px;
    }
    .text {
        padding-top: 1rem;
        padding-bottom: 0.4rem;
        margin: 0rem 1.8rem;
        font-size: 1.8rem;
    }
    .tell {
        padding-top: 0.7rem;
    }
}